<div>
    <p>Here are a list of all who has signed the understaking to fight against child abuse.</p>    

    {{#signers}}  
    <p>{{#if homepage}}<a href="">{{firstname}} {{lastname}} </a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
    {{else}}
    <p>{{firstname}} {{lastname}}  {{age}} <a href="/signers/{{city}}">{{city}} </a></p>
    {{/if}}
    {{/signers}}
       <a href="/signers page by city"></a>
</div>
